<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:build="http://schemas.microsoft.com/developer/appx/2015/build"
  IgnorableNamespaces="uap mp build">

  <Identity
    Name="825225ec-f6c2-5814-3061-54502fcd0f2f"
    Version="1.0.0.0"
    Publisher="CN=user" />

  <mp:PhoneIdentity PhoneProductId="825225ec-f6c2-5814-3061-54502fcd0f2f" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  
  <build:Metadata>
    <build:Item Name ="ManifoldJSVersion" Value ="0.4.3" />
    <build:Item Name ="GeneratedFrom" Value ="CLI" />
    <build:Item Name ="GenerationDate" Value ="2016-01-28 13:26:43 Z" />
  </build:Metadata>

  <Properties>
    <DisplayName>SurfacesalesAzurewebsitesNet</DisplayName>
    <PublisherDisplayName>user</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application
      Id="SurfacesalesAzurewebsitesNet"
      StartPage="http://surfacesales.azurewebsites.net/home">

      <uap:VisualElements
        DisplayName="SurfacesalesAzurewebsitesNet"
        Description="SurfacesalesAzurewebsitesNet"
        BackgroundColor="blue"
        Square150x150Logo="images\logo.png"
        Square44x44Logo="images\smalllogo.png">

        <uap:SplashScreen Image="images\splashscreen.png" />

        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      
      <uap:ApplicationContentUriRules>
        
				<uap:Rule Type="include" WindowsRuntimeAccess="none" Match="http://surfacesales.azurewebsites.net/" />
      </uap:ApplicationContentUriRules>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>